<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
</head>
<body>
<%- include('./partials/header.ejs') %>

<main class="container">
<div class="row">
    <div class="col-md-offset-3 col-md-8">
        <h1><%= title%></h1>
        <br>
        <table class="table table-bordered table-striped table-hover">
            <!--Header Row-->
            <tr>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Contact Number</th>
            </tr>

            <!--Repeatable template Row-->
            <% for(let count = 0; count < ContactsList.length; count++){ %>
                <tr>
                <td class="text-center"> <%= ContactsList [count].FirstName %></td>
                <td class="text-center"> <%= ContactsList [count].LastName %></td>
                <td class="text-center"> <%= ContactsList [count].Email %></td>
                <td class="text-center"> <%= ContactsList [count].ContactNumber %></td>
                </tr>
            <% } %>
        </table>
    </div>
</div>
</main>

<%- include('./partials/footer.ejs') %>


<script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
