<%- include("./partials/head.ejs")%>
<!--Nav Bar-->
<%- include('./partials/header.ejs') %>
  <main>
    <div class="container">
      <h1>Welcome To the <%= title %> page</h1>
    </div>
 
<!--Bottom Nav-->
<%- include('./partials/footer.ejs') %>
<%- include("./partials/foot.ejs")%>
 
